@import './utils.css';
#clases {
  height: auto;
  background-image: linear-gradient(to right, #fafafa, #d7d7d7, #b5b5b5, #949494, #747474);
}

#bienvenida {
  padding: 5em 4em 2em 4em;
}

#detailsClases {
  padding: 2em 4em 6em 4em;
}

#bienvenida .contenedorBienvenida {
  width: 100%;
  height: 50%;
}

#detailsClases .contenedorMotivos .motivo .imagenMotivo {
  height: 18em;
  width: 40%;
  background-color: #e4e0e0;
  border-radius: 2px;
}
#detailsClases .contenedorMotivos .motivo .imagenMotivo img {
  height: 98%;
  width: 98%;
  padding: 0.2em;
  -o-object-fit: cover;
     object-fit: cover;
}

#contenedorModalidades {
  padding: 0 4em 6em 4em;
  min-height: 100vh;
}

@media screen and (max-width: 954px) {
  #bienvenida, #detailsClases, #contenedorModalidades {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 658px) {
  #bienvenida .contenedorBienvenida h1 {
    font-size: 3rem;
  }
  #bienvenida #opiniones {
    flex-direction: column;
  }
  #detailsClases h2 {
    font-size: 3rem;
  }
  #detailsClases .contenedorMotivos .motivo {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo {
    width: 100%;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo p {
    font-size: 1rem;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo {
    width: 100%;
    height: 60%;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo img {
    height: 60%;
  }
}
@media screen and (max-width: 822px) {
  #contenedorModalidades h2 {
    font-size: 2rem;
  }
  #contenedorModalidades .contenedor {
    flex-direction: column;
    gap: 30px;
  }
  #contenedorModalidades .contenedor button {
    width: 100%;
  }
  #contenedorModalidades .contenedorDetails button {
    width: 100%;
  }
}
@media screen and (max-width: 474px) {
  #bienvenida .contenedorBienvenida h1 {
    font-size: 2rem;
  }
  #bienvenida #opiniones .chat .chat-bubble {
    font-size: 12px;
  }
  #detailsClases h2 {
    font-size: 2rem;
  }
  #detailsClases .contenedorMotivos {
    gap: 40px;
  }
  #detailsClases .contenedorMotivos .motivo {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo {
    width: 100%;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo p {
    font-size: 1rem;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo {
    width: 100%;
    height: 60%;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo img {
    height: 60%;
  }
  #contenedorModalidades h2 {
    font-size: 1.5rem;
  }
  #contenedorModalidades .contenedorDetails {
    width: 100%;
  }
  #contenedorModalidades .contenedorDetails h5 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 354px) {
  #bienvenida .contenedorBienvenida h1 {
    font-size: 1.8rem;
  }
  #detailsClases h2 {
    font-size: 1.8rem;
  }
  #detailsClases .contenedorMotivos {
    padding-top: 7em;
  }
  #detailsClases .contenedorMotivos .motivo {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo {
    width: 100%;
  }
  #detailsClases .contenedorMotivos .motivo .textoMotivo p {
    font-size: 0.8rem;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo {
    width: 100%;
    height: 60%;
  }
  #detailsClases .contenedorMotivos .motivo .imagenMotivo img {
    height: 60%;
  }
}/*# sourceMappingURL=clases.css.map */