@import './utils.css';

/*------------------- Composiciones section -------------------------*/

#composiciones {
     min-height: 100vh;
     .contenedorBienvenida{
          padding: 5em 6em 0 6em;
     }

     .infoComposiciones {
          padding: 2em 6em 5em 6em;

          div:nth-child(even) {
               align-items: end;
               text-align: end;    
          }
     }
}

.contenedorCards {
     grid-template-columns: repeat(3, minmax(0, 1fr));
     padding: 0 6em 5em 6em;
     width: 100%;
     height: auto;

     .cardCancion {
          height: 15em;
          width: auto;

          .info {
               width: 60%;
               justify-content: center;

               h3 {
                    font-size: 2em;
               }
          }

          .botones {
               width: 40%;

               svg {
                    font-size: 25px;
                    cursor: pointer;
                    color: #303030;
                    transition: .3s all ease-out;

                    &:hover {
                         transform: translateY(-5px);
                    }

                    &:active {
                         transform: scale(1.1);
                    }
               }
          }
     }

}


@media screen and (max-width: 1250px) {
     .contenedorCards {
          width: 100%;
     }
}

@media screen and (max-width: 962px) {
     #composiciones {
          .contenedorBienvenida{
               height: auto;
               padding: 4em 2em 4em 2em;
          }
          .infoComposiciones {
               padding: 4em 2em 4em 2em;
          }
     }
     .contenedorCards {
          padding: 0 2em 4em 2em;
          width: 100%;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(2,1fr);

          article {
               grid-column:  span 1 / span 1;

               .card {
                    h2 {
                         font-size: 18px;
                         width: 100%;
                    }
               }
          }
     }
}

@media screen and (max-width:758px) {
     .contenedorCards {
          grid-template-columns: repeat(1,1fr);
          grid-template-rows: repeat(1,1fr);

          article {
               grid-column:  span 1 / span 1;

               .card {
                    h2 {
                         font-size: 18px;
                         width: 100%;
                    }
               }
          }
     }
}

@media screen and (max-width: 682px) {
     #composiciones {
          .contenedorBienvenida {
               h1 {
                    font-size: 3rem;
               }

               p {
                    width: 100%;
               }
          }
     }
}

@media screen and (max-width: 556px) {
     #composiciones {
          .infoComposiciones {
               div {
                    h6 {
                         font-size: 1rem;
                         width: 75%;
                    }
                    p {
                         width: 100%;
                    }
               }
          }
     }

     .contenedorCards {
          display: flex;
          flex-direction: column;
     }
}


@media screen and (max-width: 438px) {
     #composiciones {
          .contenedorBienvenida {
               h1 {
                    font-size: 2rem;
               }
          }
     }
}
