@import './utils.css';

/*-------------------- ESTILOS NAVBAR ------------------------------*/

header {
     height: 48px;
     position: fixed;
     z-index: 1000;
}

.navBar {
     position: fixed;
     width: 100%;
     display: flex;
     height: inherit;

     .menuHamburguesa {
          display: none;
          padding-right: .5em;
     }

     .navList {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .navItem {
               display: flex;
               justify-content: center;
               align-items: center;

               .navLink {
                    cursor: pointer;
                    margin: 0 6px 0 10px;
                    font-size: 16px;
                    transition: .5s all ease-in-out;
               }

               .iconNav {
                    font-size: 16px;
                    transition: .4s all ease-in-out;
               }

               &:hover {
                    .iconNav {
                         transform: translateY(-3px);
                    }

                    .navLink {
                         transform: translateY(-3px);
                    }
               }
          }

          .dropDownMenu {
               .dropDown {
                    display: flex;
                    transition: .2s all ease-out;
                    flex-direction: column;
                    top: 110%;
                    position: absolute;
                    background-color: var(--color-secundario);
                    z-index: 1000;
                    border-radius: 3px;
                    width: 10em;
                    height: 3.5em;
                    justify-content: center;

                    li {
                         width: 70%;

                         .navLink {
                              display: block;
                              cursor: pointer;
                              padding-left: 10px;
                              color: var(--color-primario);
                              font-size: 15px;
                              transition: .3s all ease-in-out;

                              &:hover {
                                   color: #cacaca;
                              }
                         }
                    }
               }
          }
     }
}

@media screen and (max-width: 903px) {
     .navBar {
          align-items: center;
          justify-content: space-between;

          .menuHamburguesa {
               display: flex;
               flex-direction: column;
               width: 100%;
               height: 100%;
               justify-content: center;
               align-items: flex-end;
               margin-right: 5px;
               gap: 10px;
               transform-origin: 0px 100%;

               .linea1 {
                    width: 40px;
                    transition: all 300ms;
                    height: 1.5px;
                    background-color: var(--color-primario);
                    border-radius: 5px;
               }

               .linea2 {
                    transition: all 300ms;
                    width: 30px;
                    height: 1.5px;
                    background-color: var(--color-primario);
                    border-radius: 5px;
               }

               .linea3 {
                    transition: all 300ms;
                    width: 20px;
                    height: 1.5px;
                    background-color: var(--color-primario);
                    border-radius: 5px;
               }

               &.pulsado {
                    margin-right: 10px;

                    .linea1 {
                         transform: rotate(45deg) translate(16px, 0px);
                    }

                    .linea2 {
                         width: 40px;
                         opacity: 0;
                         margin-left: -30px;
                    }

                    .linea3 {
                         width: 40px;
                         transform: rotate(-45deg) translate(16px, -2px);
                    }
               }
          }

          .navList {
               display: none;
               transition: .4s ease-out;
               background-color: var(--color-secundario);
               width: 100%;
               height: 100vh;
               justify-content: start;
               padding-top: 2em;
               gap: 80px;
               align-items: center;
               position: absolute;
               flex-direction: column;
               top: 100%;
               right: 0;
               color: var(--color-primario);
               font-size: 1.5em;

               &.invisible {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
               }

               &.visible {
                    opacity: 1;
                    visibility: visible;
                    display: flex;
               }

               .navItem {
                    color: var(--color-primario);

                    .navLink {
                         color: var(--color-primario)
                    }
               }

               .dropDownMenu {
                    width: 100%;
                    justify-content: center;

                    .dropDown {
                         top: 380px;
                         left: 11%;
                         background-color: var(--color-primario);
                         width: 80%;
                         height: 4em;
                         margin: 1em 0 1em 0;

                         li {
                              width: 100%;

                              .navLink {
                                   padding: 0;
                                   text-align: center;
                                   color: var(--color-secundario);
                                   font-size: 16px;
                              }
                         }
                    }
               }
          }
     }
}


@media screen and (max-width: 583px) {
     header {
          position: absolute;
     }

     #inicio {
          height: 90vh;
     }
}



/*----------------------------- SECCION INICIO ----------------------*/

#inicio {
     height: auto;
     flex-shrink: 0;
     background-image: linear-gradient(to right bottom, var(--color-primario), #d7d7d7, #b5b5b5, #949494, #747474);

     .contenedorAlert {
          position: absolute;
          display: flex;
          justify-content: center;
          right: 2%;
          top: 40%;
          transition: .5s all ease-in;
          z-index: 1000;
     }
}

.contenedorTitulo {
     width: 100%;
     padding-top: 2em;
     justify-content: center;
     align-items: center;

     #titulo {
          display: block;
          white-space: nowrap;
          border-right: 4px;
          width: 22ch;
          animation: escribiendo 2s steps(20),
               puntero .5s infinite step-end alternate;

          overflow: hidden;
     }
}

@keyframes escribiendo {
     from {
          width: 0
     }

     ;
}

@keyframes puntero {
     0% {
          border: transparent;
     }
}

.contenedorReproductor {
     padding-top: .5em;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;

     .contenedorImagen {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--color-secundario);
          height: 250px;
          border-radius: 30px;
          width: 30%;
          margin: 1em 0 0 0;

          img {
               border-radius: 46px;
               padding: 1em;
               height: 100%;
               width: 100%;
               object-fit: cover;
               -webkit-box-shadow: -0px 39px 100px -54px rgba(48, 48, 48, 1);
               -moz-box-shadow: -0px 39px 100px -54px rgba(48, 48, 48, 1);
               box-shadow: -0px 39px 100px -54px rgba(48, 48, 48, 1);
          }
     }

     .contenedorTextoRep {
          padding: 2em 0 1em 2em;
          justify-content: center;
          align-items: center;
     }

     .botones {
          width: 50%;
          justify-content: center;
          gap: 2em;
          align-items: center;

          .icon {
               font-size: 30px;
               color: var(--color-secundario);
               transition: .5s all ease-out;

               &:hover {
                    color: #222222;
                    transform: translateY(-3px);
               }
          }

     }
}

@media screen and (max-width: 974px) {
     #titulo {
          font-size: 3rem;
          width: auto;
     }
}

@media screen and (max-width: 724px) {
     .contenedorTitulo {
          align-items: flex-start;
          padding-left: 2em;
          gap: 10px;

          #titulo {
               width: 100%;
          }
     }
}

@media screen and (max-width: 646px) {
     .contenedorTitulo {
          align-items: flex-start;
          padding-left: 2em;
          gap: 10px;

          #titulo {
               width: 100%;
               font-size: 2rem;
               text-align: left;
          }

          p {
               text-align: left;
               font-size: 12px;
               width: 80%;
          }
     }

     .contenedorReproductor {
          .contenedorImagen {
               width: 70%;
               height: 200px;
          }

          .contenedorTextoRep {
               align-items: flex-start;

               p {
                    width: 80%;
                    font-size: 1em;
                    text-align: left;
               }
          }

          .botones {
               width: 100%;
               justify-content: flex-start;
               padding: 1em 0 0 2em;
          }
     }
}

@media screen and (max-width: 440px) {
     #inicio {
          .contenedorAlert {
               right: 5%;
               top: 85%;
               left: 5%;
               padding-bottom: 2em;
               position: fixed;
          }

          #titulo {
               font-size: 1.5rem;
          }

          .contenedorInfo {
               justify-content: start;
               padding-left: 2em;
          }
     }
}

@media screen and (max-width: 370px) {
     #inicio {
          padding-top: 4em;

          .contenedorTitulo {
               padding-left: 1em;

          }

          .contenedorReproductor {
               .contenedorTextoRep {
                    padding-left: 1em;
               }
          }
     }
}

.contenedorInfo {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding-top: 1em;
     position: sticky;
     bottom: 0;
     padding-bottom: 1em;

     .info {
          height: 3em;
          width: 55%;
          background-color: var(--color-secundario);
          border-radius: 10px;
          align-items: center;
          justify-content: space-evenly;
          opacity: .8;


          .botonInfo {
               display: none;
               color: var(--color-primario);
          }

          .redesList,
          .switchs,
          .contenedorModal {
               gap: 20px;
               width: 33%;
               justify-content: center;
          }

          .redesList {
               .redesItem {
                    .redesIcon {
                         font-size: 25px;
                         color: var(--color-primario);
                         transition: .4s ease-out;

                         &:hover {
                              transform: scale(1.1);
                         }
                    }
               }
          }
     }
}

@media screen and (max-width: 802px) {
     .contenedorInfo {
          .info {
               width: 80%;
          }
     }
}

@media screen and (max-width: 646px) {
     .contenedorInfo {
          .info {
               .redesList {
                    .redesItem {
                         .redesIcon {
                              font-size: 20px;
                         }
                    }
               }

               .contenedorModal {
                    height: 100%;

                    button {
                         height: 100%;
                         margin: 0;

                         span {
                              font-size: 12px;
                              padding: 0;
                         }
                    }
               }

               .switchs {
                    display: none;
               }
          }
     }
}


/*------------------------- SECCION ABOUT ----------------*/

#about {
     height: auto;
     padding: 6em 6em 8em 6em;
     background-image: linear-gradient(to left bottom, #747474, #949494, #b5b5b5, #d7d7d7, var(--color-primario));

     .contenedorInfoAbout {
          height: auto;
          gap: 50px;

          .presentacion {
               width: 80%;
               align-items: flex-start;
               justify-content: center;
               gap: 20px;

               h2 {
                    padding-bottom: .5em;
               }
          }

          .contenedorCard {
               width: 50%;
               justify-content: flex-end;
               align-items: center;
          }
     }

     #cardAbout {
          padding-top: 4em;

          .contenedorCard {
               width: 100%;
               justify-content: flex-start;
               gap: 50px;

               .proyectosPersonales,
               .clases {
                    width: 40%;
                    height: 20em;
                    background-color: #fafafa;
                    border-radius: 3px;
                    transition: .5s all ease-out;
                    border-radius: inherit;

                    &:hover {
                         transform: translateY(-10px);
                         box-shadow: var(--sombra);
                    }

                    .contenedorLink {
                         width: 100%;
                         height: 100%;
                         background-color: #302f2f9c;
                         align-items: center;
                         justify-content: center;
                         transition: .3s all ease-in;

                         &:hover {
                              background-color: #302f2fd7;
                         }

                         a {
                              transition: .5s all ease-out;
                              padding: 10px;
                              text-align: center;

                              &:hover {
                                   transform: translateY(-10px);
                              }
                         }
                    }
               }

               .proyectosPersonales {
                    background-image: url('../assets/img/Saturnalia.webp');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
               }

               .clases {
                    background-image: url('../assets/img/FotoDamiPortfolio.webp');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
               }
          }
     }
}

@media screen and (max-width: 970px) {
     #about {
          padding: 2em 2em 4em 2em;

          .contenedorInfoAbout {
               flex-direction: column;

               .presentacion {
                    width: 100%;
               }

               .contenedorCard {
                    width: 100%;
                    justify-content: flex-start;
                    margin: 2em 0 2em 0;
               }
          }

          #cardAbout {
               .contenedorCard {
                    padding-top: 2em;
                    flex-direction: column;

                    .card {
                         width: 100%;
                    }
               }
          }
     }
}

@media screen and (max-width: 514px) {
     #about {
          .contenedorInfoAbout {
               .presentacion {
                    h2 {
                         font-size: 2.8rem;
                    }
               }
          }
     }
}

@media screen and (max-width: 370px) {
     #about {
          padding: 2em 2em 4em 1em;

          .contenedorInfoAbout {
               .presentacion {
                    padding-left: 0;

                    h2 {
                         font-size: 2rem;
                    }
               }
          }
     }
}


/*------------------------ SECCIÓN FOOTER -------------------*/

#footer {
     background-color: #474453;
     height: 30vh;

     .contenedorInfoFooter {
          width: 33%;
          height: 100%;
     }

     .filaSuperior {
          width: 100%;
          height: 70%;

          .logo {
               .contenedorImg {
                    width: 100%;
                    height: 50%;

                    img {
                         height: 100%;
                         object-fit: cover;
                    }
               }
          }
     }

     .filaInferior {
          height: 30%;
          width: 100%;
          background-color: #302E3B;

          #iconMail {
               color: #afaeb4;
          }
     }
}

@media screen and (max-width: 896px) {
     #footer {
          .filaSuperior {
               padding-left: 2em;

               .logo {
                    p {
                         font-size: .8em;
                         width: 80%;
                    }

                    .contenedorImg {
                         width: 100%;
                         height: 30%;

                         img {
                              height: 100%;
                              object-fit: cover;
                         }
                    }
               }

               .contenedor {
                    padding-left: 2em;
               }
          }

          .filaInferior {

               .contenedorAuditoria,
               .contenedorMail {
                    padding-left: 2em;
                    width: 50%;
                    justify-content: center;
               }
          }
     }
}

@media screen and (max-width: 660px) {
     #footer {
          .filaInferior {
               padding-top: 2em;
               flex-direction: column;
               gap: 30px;

               .contenedorAuditoria {
                    width: 100%;

                    p {
                         text-align: center;
                    }
               }

               .contenedorMail {
                    width: 100%;
               }
          }
     }
}

@media screen and (max-width: 610px) {
     #footer {
          height: auto;

          .filaSuperior {
               padding: 4em 0 4em 0;
               height: auto;
               flex-direction: column;
               gap: 40px;

               .contenedorInfoFooter {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
               }

               .logo {
                    .contenedorImg {
                         width: 20%;
                    }

                    p {
                         text-align: center;
                    }
               }

               .contenedorRedesList {
                    padding-left: 0;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
               }

               .contenedor {
                    gap: 20px;
                    padding: 0;

                    .dudasList {
                         justify-content: center;
                         align-items: center;
                    }
               }
          }

          .filaInferior {
               height: auto;
          }
     }
}
