@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  flex-direction: row;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-secundario);
}

html::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  height: 4px;
}

.invisible {
  display: none;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.none {
  display: none;
}

.column {
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  transition: 0.4s all ease-out;
}

.navBarResponsive {
  background-color: #fafafa;
  transition: 0.4s all ease-out;
}

.navBarNegra {
  background-color: var(--color-secundario);
  transition: 0.4s all ease-out;
  opacity: 0.8;
}
.navBarNegra .navList .navItem {
  color: var(--color-primario);
}
.navBarNegra .navList .navItem .navLink {
  color: var(--color-primario);
}
.navBarNegra .navList .navItem .navIcon {
  color: var(--color-primario);
}

.navBarBlanca {
  background-color: var(--color-primario);
  transition: 0.4s all ease-out;
  opacity: 0.8;
}
.navBarBlanca .navList .navItem {
  color: var(--color-secundario);
}
.navBarBlanca .navList .navItem .navLink {
  color: var(--color-secundario);
}
.navBarBlanca .navList .navItem .navIcon {
  color: var(--color-secundario);
}

:root {
  --color-primario: #fafafa;
  --color-secundario: #303030;
  --enfasis: #1d1d1d;
  --sombra: 10px 10px 226px -73px rgba(0, 0, 0, 0.75);
}

.enfasis {
  color: var(--enfasis);
  font-weight: bolder;
}

.sombra {
  box-shadow: var(--sombra);
}

/*-------------------- ESTILOS NAVBAR ------------------------------*/
header {
  height: 48px;
  position: fixed;
  z-index: 1000;
}

.navBar {
  position: fixed;
  width: 100%;
  display: flex;
  height: inherit;
}
.navBar .menuHamburguesa {
  display: none;
  padding-right: 0.5em;
}
.navBar .navList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar .navList .navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar .navList .navItem .navLink {
  cursor: pointer;
  margin: 0 6px 0 10px;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
}
.navBar .navList .navItem .iconNav {
  font-size: 16px;
  transition: 0.4s all ease-in-out;
}
.navBar .navList .navItem:hover .iconNav {
  transform: translateY(-3px);
}
.navBar .navList .navItem:hover .navLink {
  transform: translateY(-3px);
}
.navBar .navList .dropDownMenu .dropDown {
  display: flex;
  transition: 0.2s all ease-out;
  flex-direction: column;
  top: 90%;
  position: absolute;
  background-color: var(--color-secundario);
  z-index: 1000;
  border-radius: 3px;
  width: 10em;
  height: 3.5em;
  justify-content: center;
}
.navBar .navList .dropDownMenu .dropDown li {
  width: 70%;
}
.navBar .navList .dropDownMenu .dropDown li .navLink {
  display: block;
  cursor: pointer;
  padding-left: 10px;
  color: var(--color-primario);
  font-size: 15px;
  transition: 0.3s all ease-in-out;
}
.navBar .navList .dropDownMenu .dropDown li .navLink:hover {
  color: #cacaca;
}

@media screen and (max-width: 903px) {
  .navBar {
    align-items: center;
    justify-content: space-between;
  }
  .navBar .menuHamburguesa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5px;
    gap: 10px;
    transform-origin: 0px 100%;
  }
  .navBar .menuHamburguesa .linea1 {
    width: 40px;
    transition: all 300ms;
    height: 4px;
    background-color: var(--color-primario);
    border-radius: 5px;
  }
  .navBar .menuHamburguesa .linea2 {
    transition: all 300ms;
    width: 30px;
    height: 4px;
    background-color: var(--color-primario);
    border-radius: 5px;
  }
  .navBar .menuHamburguesa .linea3 {
    transition: all 300ms;
    width: 20px;
    height: 4px;
    background-color: var(--color-primario);
    border-radius: 5px;
  }
  .navBar .menuHamburguesa.pulsado {
    margin-right: 10px;
  }
  .navBar .menuHamburguesa.pulsado .linea1 {
    transform: rotate(45deg) translate(18px, 0px);
  }
  .navBar .menuHamburguesa.pulsado .linea2 {
    width: 40px;
    opacity: 0;
    margin-left: -30px;
  }
  .navBar .menuHamburguesa.pulsado .linea3 {
    width: 40px;
    transform: rotate(-45deg) translate(18px, -2px);
  }
  .navBar .navList {
    display: none;
    transition: 0.4s ease-out;
    background-color: var(--color-secundario);
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    color: var(--color-primario);
    font-size: 1.5em;
  }
  .navBar .navList.invisible {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .navBar .navList.visible {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  .navBar .navList .navItem {
    color: var(--color-primario);
  }
  .navBar .navList .navItem .navLink {
    color: var(--color-primario);
  }
  .navBar .navList .dropDownMenu {
    width: 100%;
    justify-content: center;
  }
  .navBar .navList .dropDownMenu .dropDown {
    top: 80%;
    left: 22%;
    background-color: var(--color-primario);
    width: 60%;
    height: auto;
    margin: 1em 0 1em 0;
  }
  .navBar .navList .dropDownMenu .dropDown li .navLink {
    color: var(--color-secundario);
    font-size: 22px;
  }
}
@media screen and (max-width: 583px) {
  header {
    position: absolute;
  }
  #inicio {
    height: 90vh;
  }
}
/*----------------------------- SECCION INICIO ----------------------*/
#inicio {
  height: auto;
  flex-shrink: 0;
  background-image: linear-gradient(to right bottom, var(--color-primario), #d7d7d7, #b5b5b5, #949494, #747474);
}
#inicio .contenedorAlert {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 2%;
  top: 40%;
  transition: 0.5s all ease-in;
  z-index: 1000;
}

.contenedorTitulo {
  width: 100%;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
}
.contenedorTitulo #titulo {
  display: block;
  white-space: nowrap;
  border-right: 4px;
  width: 22ch;
  animation: escribiendo 2s steps(20), puntero 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}
@keyframes puntero {
  0% {
    border: transparent;
  }
}
.contenedorReproductor {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenedorReproductor .contenedorImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secundario);
  height: 250px;
  border-radius: 30px;
  width: 30%;
  margin: 1em 0 0 0;
}
.contenedorReproductor .contenedorImagen img {
  border-radius: 46px;
  padding: 1em;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 39px 100px -54px rgb(48, 48, 48);
}
.contenedorReproductor .contenedorTextoRep {
  padding: 2em 0 1em 2em;
  justify-content: center;
  align-items: center;
}
.contenedorReproductor .botones {
  width: 50%;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
.contenedorReproductor .botones .icon {
  font-size: 30px;
  color: var(--color-secundario);
  transition: 0.5s all ease-out;
}
.contenedorReproductor .botones .icon:hover {
  color: #222222;
  transform: translateY(-3px);
}

@media screen and (max-width: 880px) {
  #titulo {
    font-size: 3rem;
    width: auto;
  }
}
@media screen and (max-width: 646px) {
  .contenedorTitulo {
    align-items: flex-start;
    padding-left: 2em;
    gap: 10px;
  }
  .contenedorTitulo #titulo {
    width: 100%;
    font-size: 2rem;
    text-align: left;
  }
  .contenedorTitulo p {
    text-align: left;
    font-size: 12px;
    width: 80%;
  }
  .contenedorReproductor .contenedorImagen {
    width: 70%;
    height: 200px;
  }
  .contenedorReproductor .contenedorTextoRep {
    align-items: flex-start;
  }
  .contenedorReproductor .contenedorTextoRep p {
    width: 80%;
    font-size: 1em;
    text-align: left;
  }
  .contenedorReproductor .botones {
    width: 100%;
    justify-content: flex-start;
    padding: 1em 0 0 2em;
  }
}
@media screen and (max-width: 440px) {
  #inicio .contenedorAlert {
    right: 5%;
    top: 85%;
    left: 5%;
    padding-bottom: 2em;
    position: fixed;
  }
  #inicio #titulo {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px) {
  #inicio .contenedorTitulo {
    padding-left: 1em;
  }
  #inicio .contenedorReproductor .contenedorTextoRep {
    padding-left: 1em;
  }
}
.contenedorInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1em;
  position: sticky;
  bottom: 0;
  padding-bottom: 1em;
}
.contenedorInfo .info {
  height: 3em;
  width: 55%;
  background-color: var(--color-secundario);
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
}
.contenedorInfo .info .botonInfo {
  display: none;
  color: var(--color-primario);
}
.contenedorInfo .info .redesList,
.contenedorInfo .info .switchs,
.contenedorInfo .info .contenedorModal {
  gap: 20px;
  width: 33%;
  justify-content: center;
}
.contenedorInfo .info .redesList .redesItem .redesIcon {
  font-size: 25px;
  color: var(--color-primario);
  transition: 0.4s ease-out;
}
.contenedorInfo .info .redesList .redesItem .redesIcon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 802px) {
  .contenedorInfo .info {
    width: 80%;
  }
}
@media screen and (max-width: 646px) {
  .contenedorInfo .info .redesList .redesItem .redesIcon {
    font-size: 20px;
  }
  .contenedorInfo .info .contenedorModal {
    height: 100%;
  }
  .contenedorInfo .info .contenedorModal button {
    height: 100%;
    margin: 0;
  }
  .contenedorInfo .info .contenedorModal button span {
    font-size: 12px;
    padding: 0;
  }
  .contenedorInfo .info .switchs {
    display: none;
  }
}
/*------------------------- SECCION ABOUT ----------------*/
#about {
  height: auto;
  padding: 6em 4em 8em 6em;
  background-image: linear-gradient(to left bottom, #747474, #949494, #b5b5b5, #d7d7d7, var(--color-primario));
}
#about .contenedorInfoAbout {
  height: auto;
  gap: 50px;
}
#about .contenedorInfoAbout .presentacion {
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
#about .contenedorInfoAbout .presentacion h2 {
  padding-bottom: 0.5em;
}
#about .contenedorInfoAbout .contenedorCard {
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}
#about #cardAbout {
  padding-top: 4em;
}
#about #cardAbout .contenedorCard {
  width: 100%;
  justify-content: flex-start;
  gap: 50px;
}
#about #cardAbout .contenedorCard .proyectosPersonales,
#about #cardAbout .contenedorCard .clases {
  width: 30%;
  height: 20em;
  background-color: #fafafa;
  border-radius: 3px;
  transition: 0.5s all ease-out;
  border-radius: inherit;
}
#about #cardAbout .contenedorCard .proyectosPersonales:hover,
#about #cardAbout .contenedorCard .clases:hover {
  transform: translateY(-10px);
  box-shadow: var(--sombra);
}
#about #cardAbout .contenedorCard .proyectosPersonales .contenedorLink,
#about #cardAbout .contenedorCard .clases .contenedorLink {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 47, 47, 0.6117647059);
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in;
}
#about #cardAbout .contenedorCard .proyectosPersonales .contenedorLink:hover,
#about #cardAbout .contenedorCard .clases .contenedorLink:hover {
  background-color: rgba(48, 47, 47, 0.8431372549);
}
#about #cardAbout .contenedorCard .proyectosPersonales .contenedorLink a,
#about #cardAbout .contenedorCard .clases .contenedorLink a {
  transition: 0.5s all ease-out;
  padding: 10px;
  text-align: center;
}
#about #cardAbout .contenedorCard .proyectosPersonales .contenedorLink a:hover,
#about #cardAbout .contenedorCard .clases .contenedorLink a:hover {
  transform: translateY(-10px);
}
#about #cardAbout .contenedorCard .proyectosPersonales {
  background-image: url("../assets/img/Saturnalia.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#about #cardAbout .contenedorCard .clases {
  background-image: url("../assets/img/FotoDamiPortfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 858px) {
  #about {
    padding: 2em 2em 4em 2em;
  }
  #about .contenedorInfoAbout {
    flex-direction: column;
  }
  #about .contenedorInfoAbout .presentacion {
    width: 100%;
  }
  #about .contenedorInfoAbout .contenedorCard {
    width: 100%;
    justify-content: flex-start;
    margin: 2em 0 2em 0;
  }
  #about #cardAbout .contenedorCard {
    padding-top: 2em;
    flex-direction: column;
  }
  #about #cardAbout .contenedorCard .card {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  #about {
    padding: 2em 2em 4em 1em;
  }
  #about .contenedorInfoAbout .presentacion {
    padding-left: 0;
  }
}
/*------------------------ SECCIÓN FOOTER -------------------*/
#footer {
  background-color: #474453;
  height: 30vh;
}
#footer .contenedorInfoFooter {
  width: 33%;
  height: 100%;
}
#footer .filaSuperior {
  width: 100%;
  height: 70%;
}
#footer .filaSuperior .logo .contenedorImg {
  width: 100%;
  height: 50%;
}
#footer .filaSuperior .logo .contenedorImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#footer .filaInferior {
  height: 30%;
  width: 100%;
  background-color: #302E3B;
}
#footer .filaInferior #iconMail {
  color: #afaeb4;
}

@media screen and (max-width: 896px) {
  #footer .filaSuperior {
    padding-left: 2em;
  }
  #footer .filaSuperior .logo p {
    font-size: 0.8em;
    width: 80%;
  }
  #footer .filaSuperior .logo .contenedorImg {
    width: 100%;
    height: 30%;
  }
  #footer .filaSuperior .logo .contenedorImg img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #footer .filaSuperior .contenedor {
    padding-left: 2em;
  }
  #footer .filaInferior .contenedorAuditoria, #footer .filaInferior .contenedorMail {
    padding-left: 2em;
    width: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  #footer .filaInferior {
    padding-top: 2em;
    flex-direction: column;
    gap: 30px;
  }
  #footer .filaInferior .contenedorAuditoria {
    width: 100%;
  }
  #footer .filaInferior .contenedorAuditoria p {
    text-align: center;
  }
  #footer .filaInferior .contenedorMail {
    width: 100%;
  }
}
@media screen and (max-width: 610px) {
  #footer {
    height: auto;
  }
  #footer .filaSuperior {
    padding: 4em 0 4em 0;
    height: auto;
    flex-direction: column;
    gap: 40px;
  }
  #footer .filaSuperior .contenedorInfoFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer .filaSuperior .logo .contenedorImg {
    width: 20%;
  }
  #footer .filaSuperior .logo p {
    text-align: center;
  }
  #footer .filaSuperior .contenedorRedesList {
    padding-left: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #footer .filaSuperior .contenedor {
    gap: 20px;
    padding: 0;
  }
  #footer .filaSuperior .contenedor .dudasList {
    justify-content: center;
    align-items: center;
  }
  #footer .filaInferior {
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */