@import url('../CSS/utils.css');

#presupuestos {
     background-image: linear-gradient(to right, #fafafa, #d7d7d7, #b5b5b5, #949494, #747474);
}

#infoClases {
     padding: 5em 6em 8em 6em;
     min-height: 100vh;

     .contenedorPresupuesto {
          .card {
               width: 15em;
               background-color: #E4E4E4;
               height: 18em;
          }
     }
}

@media screen and (max-width: 971px) {
     #infoClases {
          padding: 5em 2em 4em 2em;
     }
}

@media screen and (max-width: 798px) {
     #infoClases {
          .contenedorPresupuesto {
               .container {
                    align-items: flex-start;
                    flex-direction: column;
               }
          }
     }
}

@media screen and (max-width:674px) {
     .bienvenida {
          .contenedorBienvenida {
               h1 {
                    font-size: 3rem;
               }
               p {
                    width: 100%;
               }
          }
          .contenedorInfoPagos {
               p {
                    width: 100%;
               }
          }
     }
}

@media screen and (max-width: 486px) {
     .bienvenida {
          .contenedorBienvenida {
               h1 {
                    font-size: 2rem;
               }
          }

          .contenedorInfoPagos {
               h2 {
                    font-size: 1.5rem;
               }
          }
     }
} 